@using System.Security.Claims
@using Microsoft.AspNetCore.Authentication.Cookies

@{
    var isAuthenticated = User.Identity.IsAuthenticated;

    string name = null;
    string avatar = null;

    if (isAuthenticated)
    {
        name = User.Claims
            .FirstOrDefault(c => c.Type.Equals("preferred_username", StringComparison.OrdinalIgnoreCase))?
            .Value;

        avatar = User.Claims
            .FirstOrDefault(c => c.Type.Equals("avatar", StringComparison.OrdinalIgnoreCase))?
            .Value;

        if (string.IsNullOrEmpty(avatar))
        {
            avatar = "/images/default-profile-picture.png";
        }

        if (string.IsNullOrEmpty(name))
        {
            name = User.Claims
               .FirstOrDefault(c => c.Type.Equals(ClaimTypes.Email, StringComparison.OrdinalIgnoreCase))?
               .Value ?? "Пользователь";
        }
    }
}

@if (isAuthenticated)
{
    <a asp-controller="Cart" asp-action="Index" class="navbar-text ms-auto text-decoration-none text-white">
        @await Component.InvokeAsync("Cart")
    </a>

    <div class="dropdown ms-4 nav-color">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
            @name
            <img src="@avatar" width="30" alt="Аватар пользователя" class="rounded nav-color" />
        </button>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">

            <li>
                <span class="dropdown-item-text">
                    <img src="@avatar" width="50" alt="Аватар пользователя" class="rounded" />
                    <span class="ms-2">@name</span>
                </span>
            </li>

            <li><hr class="dropdown-divider"></li>

            <li>
                <form id="logoutForm" class="form-inline" method="post" asp-controller="Account" asp-action="Logout">
                    <button id="logout" type="submit" class="dropdown-item">Выход</button>
                </form>
            </li>
        </ul>
    </div>
}
else

    <div class="ms-auto">
        <a asp-controller="Account" asp-action="Login" class="btn btn-primary me-2">
            Войти
        </a>

        <a asp-controller="Account" asp-action="Register" class="btn btn-outline-light">
            Зарегистрироваться
        </a>
    </div>
}